@charset "UTF-8";

:root{
       
    --font01: ;

}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header{
     background-color: black;
     height:280px ;
     margin: -43px -20px 0 -20px ;
}

header >h1{
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 4em;
     padding: 60px 10px 2px 10px;
     text-align: center;
}

header >p{
    color: rgba(255, 255, 255, 0.483);
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    padding-top:2px;
    text-align: center;
}

p > a{
    color: white;
    text-decoration: none;
}

p >a:hover{
    text-decoration: underline;
}

main{

}

main >article{
    font-size: 2em;
    padding: 50px 0px 0px 10px ;
}